<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">发起新课堂</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemodal()">关闭</button>
    </div>
  </ion-header-bar>


   <ion-content>
    <form ng-submit="sendnewclass()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">课堂名称</span>
          <input type="text" ng-model="newclassdata.title">
        </label>
        <label class="item item-input">
          <span class="input-label">上课时间</span>
          <input  type="datetime-local"   ng-model="newclassdata.classtime" />

        </label>
        <label class="item item-input">
          <span class="input-label">上课地点</span>
          <input type="text" ng-model="newclassdata.place">
        </label>
        <label class="item">
          <button class="button button-block button-calm" type="submit">确定</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>
