<ion-view view-title="我">
  <ion-content class="padding">
  <div class="list card" >

      <div class="item item-divider divider-center item-calm"></div>
      <div class="item item-body">

          <ion-item class="item-remove-animate item-avatar item-icon-right"   type="item-text-wrap" href="#/tab/setting/message/{{usertype}}">

            <i class="icon ion-chatbubbles calm" style="left:18px;"></i>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <h2>在线交流</h2>
            <i class="badge badge-assertive item-note elementCenterAlign">{{unreadnums}}</i>
          </ion-item>



          <ion-item class="item-remove-animate item-avatar item-icon-right"   type="item-text-wrap" href="#/tab/setting/onlineclass">

            <i class="icon ion-ios-book calm" style="left:18px;"></i>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <h2>在线课堂</h2>

          </ion-item>


      </div>


      <div class="item item-divider divider-center item-calm"></div>
      <div class="item item-body">

          <ion-item class="item-remove-animate item-avatar item-icon-right"   type="item-text-wrap" href="#/tab/setting/studypoints">

            <i class="icon ion-ribbon-a calm" style="left:18px;"></i>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <h2>学分获取</h2>

          </ion-item>







      </div>


      <div class="item item-divider divider-center item-calm"></div>
      <div class="item item-body">

          <ion-item class="item-remove-animate item-avatar item-icon-right"   type="item-text-wrap" href="#/tab/setting/userdetail">

            <i class="icon ion-person calm" style="left:18px;"></i>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <h2>用户详情</h2>

          </ion-item>


          <ion-item class="item-remove-animate item-avatar item-icon-right"   type="item-text-wrap" ng-click="logout()">

            <i class="icon ion-log-out calm" style="left:18px;"></i>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <h2>用户退出</h2>

          </ion-item>

      </div>
    </div>

  </ion-content>
</ion-view>
